<div class="breadcrumbs">
  <div class="container container-narrow">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">Shop</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link breadcrumbs__link--current">New Arrvals</a>
      </li>
    </ul>
    @include('../partials/prev-next.html')
  </div>
</div>